<?xml version="1.0" ?>
<model>
  <name>3Darena</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Yuma Nagamine</name>
    <email>Yuma.Nagamine@etu.univ-smb.com</email>
  </author>
  <description>3D arena based on the Eurobot 2026 official dimensions</description>
</model>